In [40]:
pip install sodapy

Requirement already satisfied: sodapy in /opt/anaconda3/lib/python3.9/site-packages (2.2.0)
Requirement already satisfied: requests>=2.28.1 in /opt/anaconda3/lib/python3.9/site-packages (from sodapy) (2.28.1)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (1.26.11)
Requirement already satisfied: charset-normalizer<3,>=2 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (2022.9.24)
Requirement already satisfied: idna<4,>=2.5 in /opt/anaconda3/lib/python3.9/site-packages (from requests>=2.28.1->sodapy) (3.3)

[notice] A new release of pip is available: 23.0.1 -> 23.1.2
[notice] To update, run: pip3.9 install --upgrade pip
Note: you may need to restart the kernel to use updated packages.

In [42]:
import pandas as pd
from sodapy import Socrata

In [30]:
# Enrollment data by state
# Source: https://www.kff.org/health-reform/state-indicator/medicaid-expansion-enrollment/?currentTimeframe=0&sortModel=%7B%22colId%22:%22Location%22,%22sort%22:%22asc%22%7D

df_enroll = pd.read_csv('data/KFF_medicaid_enrollment.csv', header=2).loc[:51] # get rid of junk rows
df_enroll = df_enroll.loc[df_enroll['Location'] != 'United States'] # just states & DC
df_enroll = df_enroll.set_index('Location')
df_enroll['Expanded by September 30th, 2022'] = df_enroll['Expanded by September 30th, 2022'].replace({'Yes': True, 'No': False})
df_enroll

,"Expanded by September 30th, 2022",Total Medicaid Enrollment,Expansion Group Enrollment,Expansion Group - Newly Eligible Enrollment,Expansion Group - Not Newly Eligible Enrollment
Location,,,,,
Alabama,False,1303099.0,NaN,NaN,NaN
Alaska,True,250485.0,71604.0,71602.0,2.0
Arizona,True,2394999.0,707942.0,190742.0,517200.0
Arkansas,True,1049515.0,342505.0,326906.0,15599.0
California,True,14754618.0,4941456.0,4910970.0,30486.0
Colorado,True,1650899.0,602339.0,594987.0,7352.0
Connecticut,True,1147254.0,363703.0,332700.0,31003.0
Delaware,True,284439.0,93391.0,14685.0,78706.0
District of Columbia,True,286855.0,134142.0,89169.0,44973.0
Florida,False,5417062.0,NaN,NaN,NaN
Georgia,False,2537096.0,NaN,NaN,NaN
Hawaii,True,452553.0,180664.0,30643.0,150021.0
Idaho,True,449626.0,126920.0,126920.0,0.0
Illinois,True,3356654.0,1001367.0,902256.0,99111.0
Indiana,True,1991125.0,572082.0,572082.0,0.0
Iowa,True,777660.0,254813.0,192323.0,62490.0
Kansas,False,457567.0,NaN,NaN,NaN
Kentucky,True,1555452.0,627546.0,627546.0,0.0
Louisiana,True,1998867.0,750379.0,750379.0,0.0
Maine,True,387929.0,105361.0,83831.0,21530.0
Maryland,True,1565297.0,451214.0,451214.0,0.0
Massachusetts,True,2140909.0,476916.0,0.0,476916.0
Michigan,True,3016340.0,1027643.0,967247.0,60396.0
Minnesota,True,1354780.0,299797.0,299797.0,0.0
Mississippi,False,825970.0,NaN,NaN,NaN
Missouri,True,1374840.0,260132.0,260132.0,0.0
Montana,True,299074.0,117275.0,117275.0,0.0
Nebraska,True,372756.0,66256.0,64901.0,1355.0
Nevada,True,831747.0,362226.0,362226.0,0.0
New Hampshire,True,233320.0,91634.0,91146.0,488.0
New Jersey,True,2021734.0,740380.0,740380.0,0.0
New Mexico,True,982910.0,296146.0,296146.0,0.0
New York,True,7611122.0,2521122.0,432535.0,2088587.0
North Carolina,False,2820575.0,NaN,NaN,NaN
North Dakota,True,128690.0,34794.0,33108.0,1686.0
Ohio,True,3504288.0,863077.0,862854.0,223.0
Oklahoma,True,1191265.0,334632.0,334632.0,0.0
Oregon,True,1279065.0,706950.0,598132.0,108818.0
Pennsylvania,True,3581542.0,1143160.0,1078203.0,64957.0
Rhode Island,True,351190.0,98299.0,98299.0,0.0
South Carolina,False,1546667.0,NaN,NaN,NaN
South Dakota,False,133923.0,NaN,NaN,NaN
Tennessee,False,1835559.0,NaN,NaN,NaN
Texas,False,5902991.0,NaN,NaN,NaN
Utah,True,499597.0,132534.0,131599.0,935.0
Vermont,True,201307.0,75920.0,0.0,75920.0
Virginia,True,1890570.0,685404.0,685404.0,0.0
Washington,True,2143903.0,822263.0,803639.0,18624.0
West Virginia,True,652102.0,239001.0,239001.0,0.0
Wisconsin,False,1535052.0,NaN,NaN,NaN
Wyoming,False,83667.0,NaN,NaN,NaN

In [63]:
# Life expectancy by state (2010-2015)
# Docs: https://dev.socrata.com/foundry/data.cdc.gov/5h56-n989

client = Socrata("data.cdc.gov", None)
data = client.get("5h56-n989", where='county_name = "(blank)"')
df_life_exp = pd.DataFrame.from_records(data)

WARNING:root:Requests made without an app_token will be subject to strict throttling limits.

In [69]:
# df_life_exp = df_life_exp.drop('county_name', axis=1)
df_life_exp = df_life_exp.set_index('state_name')
df_life_exp

                        le   le_range   se_le
state_name
Alabama               75.5  75.2-77.5  0.0328
Alaska                78.8  77.6-79.5  0.1045
Arizona               79.9  79.6-81.6  0.0302
Arkansas                76  75.2-77.5  0.0416
California            81.3  79.6-81.6  0.0125
Colorado              80.5  79.6-81.6   0.033
Connecticut           80.9  79.6-81.6  0.0372
Delaware              78.7  77.6-79.5  0.0765
District of Columbia  78.5  77.6-79.5   0.102
Florida               80.1  79.6-81.6  0.0172
Georgia               77.7  77.6-79.5  0.0233
Hawaii                  82  81.7-97.5   0.067
Idaho                 79.4  77.6-79.5  0.0555
Illinois              79.3  77.6-79.5  0.0201
Indiana               77.4  75.2-77.5  0.0277
Iowa                  79.6  79.6-81.6  0.0385
Kansas                78.6  77.6-79.5  0.0414
Kentucky              75.9  75.2-77.5  0.0335
Louisiana               76  75.2-77.5  0.0343
Maine                   79  77.6-79.5  0.0598
Maryland              79.6  79.6-81.6  0.0308
Massachusetts         80.7  79.6-81.6  0.0267
Michigan              78.2  77.6-79.5  0.0227
Minnesota               81  79.6-81.6  0.0302
Mississippi           74.9  56.9-75.1  0.0422
Missouri              77.6  77.6-79.5   0.029
Montana               78.6  77.6-79.5  0.0719
Nebraska              79.6  79.6-81.6  0.0505
Nevada                78.4  77.6-79.5  0.0446
New Hampshire         80.1  79.6-81.6  0.0606
New Jersey            80.5  79.6-81.6  0.0237
New Mexico            78.4  77.6-79.5  0.0543
New York                81  79.6-81.6  0.0164
North Carolina        78.1  77.6-79.5   0.023
North Dakota          79.7  79.6-81.6  0.0861
Ohio                  77.6  77.6-79.5  0.0207
Oklahoma              75.8  75.2-77.5  0.0366
Oregon                79.6  79.6-81.6   0.035
Pennsylvania          78.6  77.6-79.5  0.0196
Rhode Island          79.9  79.6-81.6  0.0675
South Carolina          77  75.2-77.5   0.033
South Dakota          79.4  77.6-79.5  0.0803
Tennessee             76.3  75.2-77.5  0.0278
Texas                 78.8  77.6-79.5  0.0147
Utah                  79.8  79.6-81.6  0.0449
Vermont                 80  79.6-81.6  0.0858
Virginia              79.4  77.6-79.5   0.025
Washington            80.3  79.6-81.6   0.027
West Virginia         75.3  75.2-77.5   0.052
Wisconsin             79.6  79.6-81.6   0.029
Wyoming               78.8  77.6-79.5  0.0996